<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Ingreso al sistema</title>
</head>
<body>

    <div class="container mt-5">
       
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h2>Ingresa tus credenciales</h2>
                        <hr>
                        <form action=""method="post">

                            {% csrf_token %}
                            {{ form.as_p }}

                            <a href="{% url 'Home' %}">Inicio</a> |
                            <a href="{% url 'registro' %}">Registrarme</a>
                            <input type="submit" value="ingresar" class="btn btn-primary btn-block"> 
                        </form>
                    </div>
                </div>        
            </div>
        </div>
    </div>
    
</body>
</html>